<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |key, msg| %>
        <div class="text-center alert alert-<%= key %>" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>
